RewriteBase /
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.nutrique.com.ar/$1 [R,L]